.container{
    background-color: ghostwhite;
}
.background{
    background-color: aliceblue;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;  
    
}
.planHolder{
    width: 90%;
    height: 50%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    min-height: 380px;
    min-width: 500px;
  
}
.forScaling{
    transition: transform .5s;
}
#basicPlan:hover .forScaling{
    transform: scale(1.1);
}
#basicPlan:hover .planHeader{
    background-color: steelblue;
}
#basicPlan:hover .bodyText{
    color: steelblue;
}
#basicPlan:hover .bodyText2{
    color: steelblue;
}
#proPlan:hover .forScaling{
    transform: scale(1.1);
}
#proPlan:hover .planHeader{
    background-color: steelblue;
}
#proPlan:hover .bodyText{
    color: steelblue;
}
#proPlan:hover .bodyText2{
    color: steelblue;
}
#premiumPlan:hover .forScaling{
    transform: scale(1.1);
}
#premiumPlan:hover .planHeader{
    background-color: steelblue;
}
#premiumPlan:hover .bodyText{
    color: steelblue;
}
#premiumPlan:hover .bodyText2{
    color: steelblue;
}
#basicPlan:hover ~ .userBar {
    width: 10%;
}
#basicPlan:hover ~ .storageBar {
    width: 10%;
}
#basicPlan:hover ~ .projectBar {
    width: 10%;
}
#proPlan:hover ~ .userBar {
    width: 30%;
}
#proPlan:hover ~ .storageBar {
    width: 65%;
}
#proPlan:hover ~ .projectBar {
    width: 45%;
}
#premiumPlan:hover ~ .userBar {
    width: 90%;
}
#premiumPlan:hover ~ .storageBar {
    width: 90%;
}
#premiumPlan:hover ~ .projectBar {
    width: 90%;
}
.planHeader{
    background-color: skyblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 20%;
    box-shadow: 0px 4px 10px 0.2px #DCDCDC;
    display: flex;
    transition: 0.4s ;
}
.headerText{
    margin: auto;
    font-family:sans-serif;
    color: white;
    transition: 0.4s ;
}
.planBody{
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    height: 60%;
    box-shadow: 0px 4px 10px 1px #DCDCDC;
    transition: 0.4s ;
}
.bodyText{
    padding-top: 20px;
    margin: auto;
    font-family:sans-serif;
    font-size: 4em;
    color: gray;
    transition: 0.4s ;
}
.bodyText2{
    margin: auto;
    font-family:sans-serif;
    color: gray;
    transition: 0.4s ;
}
.lineGap{
    padding-top: 30px;
}
.lineSpace{
    padding-top: 10px;
}
.line1{
    background-color: lightgray;
    margin: auto;
    width: 70%;
    height: 3%;
    transition: 0.4s ;
}
.line2{
    background-color: lightgray;
    margin: auto;
    width: 50%;
    height: 3%;
    transition: 0.4s ;
}
#basicPlan{
    float: left;
    width: 25%;
    padding-left: 10%;
    transition: transform .3s;
}
#proPlan{
    margin: 0 auto;
    width: 25%;
    transition: transform .3s;
}
#premiumPlan{
    float: right;
    width: 25%;
    padding-right: 10%;
    transition: transform .3s;
}
.dataHolder{
    background-color: white;
    width: 85%;
    height: 30%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 4px 10px 1px #DCDCDC;
    min-height: 300px;
    min-width: 500px;
}
.dataContent{
    padding-top: 2%
}
.dataText{
    font-family:sans-serif;
    color: gray;
}
.barLabelleft{
    float: left;
    
    padding-left: 4%;
}
.barLabelRight{
    float: right;
    padding-right: 4%;
}
.progressBar{
    clear: both;
    margin: auto;
    background-color: aliceblue;
    border-radius: 10px;
    width: 95%;
    height: 7%;
}
.userBar{
    background-color: steelblue;
    position: relative;
    top: 154;
    left: 50px;
    width: 0%;
    height: 5%;
    border-radius: 10px;
    transition: 0.4s linear;
}
.storageBar{
    background-color: steelblue;
    position: relative;
    top: 216;
    left: 50px;
    width: 0%;
    height: 5%;
    border-radius: 10px;
    transition: 0.4s linear;
}
.projectBar{
    background-color: steelblue;
    position: relative;
    top: 277;
    left: 50px;
    width: 0%;
    height: 5%;
    border-radius: 10px;
    transition: 0.4s linear;
}   

